@import "../utilities/variables.scss";

@mixin propiedades-links{

    color: $color-links;
    font-size: 1rem;
    text-align: left;
    margin: 1rem;

}

@mixin propiedades-parrafo ($size){
    color: $color-parrafo;
    font-family: $fuente-parrafo;
    font-size: $size;
    margin: 1rem;

}

@mixin propiedades-h1 ($size){
    color: $color-h1;
    text-align: center;
    font-size: $size;
}

@mixin propiedades-ul ($size){
    color: black;
    font-size: $size;
    text-align: left;
}