footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    transition: 3s;
   

    .logo {
       text-align: left;
    }

    .wp{
        text-align: right;
        transition: transform 3s;
    }

    .wp:hover {
        transform: rotate(360deg);
    }
}