footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;

    .logo {
       text-align: left;
    }

    .wp{
        text-align: right;
    }
}