@import "../mixin/mixin.scss";

header {
    margin-top: 2rem;
    padding: 25px;
    justify-content: space-between;
    text-align: center;

    nav {


        div {

            img {

                text-align: center;
            }

            div {

                ul {

                    li {


                        a {
                            @include propiedades-links();
                        }
                    }
                }
            }
        }
    }

}