header {
    margin-top: 2rem;
    padding: 25px;
    justify-content: space-between;
    text-align: center;

    nav {


        div {

            img {

                text-align: center;
            }

            div {

                ul {

                    li {


                        a {
                            color: black;
                            font-size: 1rem;
                            text-align: left;
                            margin: 1rem;
                        }
                    }
                }
            }
        }
    }

}