@import "../mixin/mixin.scss";

main {

    section {
        h1 {
            @include propiedades-h1 (3rem);
        }

        div {
            p {
                @include propiedades-parrafo (2rem);
            }
        }

    }

    .container {
        flex: 1;


        .contenido {
            display: flex;
            align-items: center;
            width: 100%;

            ul {
                @include propiedades-ul(2rem);
            }
        }

        .contenido img {
            margin-right: 20px;
            width: 40%;
            margin: 2rem;
        }

        .contenido iframe {
            margin-right: 20px;
            width: 110rem;
            height: 25rem;
        }
    }
}