main {
    
    section {
        h1 {
            color: red;
            text-align: center;
            font-size: 3rem;
        }

        div {
            p {
                color: blue;
                font-family: "Reddit Sans", sans-serif;
                font-size: 2rem;
                margin: 1rem;
            }
        }

    }

    .container {
        flex: 1;


        .contenido {
            display: flex;
            align-items: center;
            width: 100%;

            ul{
                color: black;
                font-size: 2rem;
                text-align: left;
            }
        }

        .contenido img {
            margin-right: 20px;
            width: 40%;
            margin: 2rem;
        }

        .contenido iframe {
            margin-right: 20px;
            width: 110rem;
            height: 25rem;
        }
    }
}