.boton {
    margin-top: 10px;
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #ff7700;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #0056b3;
}